* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: black;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 50;
  text-align: center;
  margin: 1rem 0 3rem;
  font-family: sans-serif;
}

.title {
  color: rgb(25, 204, 228);
  font-weight: 800;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user {
  position: relative;
  padding: 0.5rem;
  border: 4px dotted #fff;
  outline: none;
  height: 50px;
  border-radius: 5px;
  width: 400px;
  background-color: white;
  color: green;
  font-size: xx-large;
  font-weight: bold;
  transition: 0.5s;
  margin: 0.25rem;
  margin-bottom: 1.5rem;
}

.username {
  padding-right: 2px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
}

.vote {
  position: absolute;
  top: 0;
  right: 0;
}

.unlike {
  color: red;
}

.like {
  color: blue;
}
